
label.error {
    width: 350px;
    height: 60px;
    position: fixed;
    right: 10px;
    top: -80px;
    border: 1px solid #fe4a55;
    background-color: #fff;
    color: #fe4a55;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 6px;
    animation: ErrorMesg 5s forwards ease-in-out;
}
@keyframes ErrorMesg {
    0%{
        right: 10px;
        top: -80px;
    }
    5%{
        right: 10px;
        top: 80px;
    }
    20%{
        right: 10px;
        top: 80px;
    }
    40%{
        right: 10px;
        top: 80px;
    }
    60%{
        right: 10px;
        top: 80px;
    }
    80%{
        right: 10px;
        top: 80px;
    }
    95%{
        right: 10px;
        top: 80px;
    }
    100%{
        right: 10px;
        top: -80px;
        visibility: hidden;
    }
}
input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

@media only screen and (max-width:450px) {
    label.error {
        width: 250px;
        height: 40px;
        position: fixed;
        top: -120px;
        border: 1px solid #fe4a55;
        background-color: #fff;
        color: #fe4a55;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 3px;
        animation: ErrorMesg 5s forwards ease-in-out;
    }
}

/* Error Mesg */
.client-error-mesg{
    min-width: 120px;
    max-width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    border: 1px solid #fe4a55;
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    right: 10px;
    top: -70px;
    animation: ErrorMesg 5s forwards ease-in-out;
}
.client-error-mesg p{
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    color: black;
}
